Modifications(
    modifications: [
        Modification(
            title: "Outsourcing",
            description: "Goal Keeper (ONLY YOU)"
        ),
        Modification(
            title: "Furiously Fast",
            description: "Increase Speed (ONLY YOU)"
        ),
        Modification(
            title: "Snappy Hamster",
            description: "Decrease Degrade Factor (ONLY YOU)"
        ),
        Modification(
            title: "Lock n' Load",
            description: "Turret to shoot the ball (BOTH PLAYERS)"
        ),
        
        Modification(
            title: "Mind Fuck",
            description: "Give the other player inverted controls for 2 rounds (ENEMY PLAYER)"
        ),
        Modification(
            title: "Mutated Grounds",
            description: "Modify field"
        ),
        Modification(
            title: "Torture Chamber",
            description: "Add hazards to field"
        ),
        Modification(
            title: "Metamorphosis",
            description: "Modify player (BOTH PLAYERS)"
        ),
        Modification(
            title: "Juicin'",
            description: "Add boost pickups to field"
        ),
        Modification(
            title: "Charlie's Wildcard",
            description: "Cut the brakes, wildcard bi**hes"
        ),
    ]
)