Modifications(
    modifications: [
        Modification(
            title: "Outsourcing",
            description: "Goal Keeper (ONLY YOU)"
        ),
        Modification(
            title: "Furiously Fast",
            description: "Increase Speed (ONLY YOU)"
        ),
        Modification(
            title: "Snappy Hamster",
            description: "Decrease Degrade Factor (ONLY YOU)"
        ),
        Modification(
            title: "Lock n' Load",
            description: "Turret to shoot the ball (BOTH PLAYERS)"
        ),
        
        Modification(
            title: "Mind Fuck",
            description: "Give the other player inverted controls for 2 rounds (ENEMY PLAYER)"
        ),
        Modification(
            title: "Mutated Grounds",
            description: "Modify field"
        ),
        Modification(
            title: "Torture Chamber",
            description: "Add hazards to the stage"
        ),
        Modification(
            title: "That MTV Show",
            description: "Add a thingy to your car (BOTH PLAYERS)"
        )
    ]
)